<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
<style type="text/css">
       .feedback {
            display: none;
            color: red;
        }
</style>
</head>
<body>
	<form id="registerForm" th:action="@{/user/register}" novalidate>
	    <div>
	        <label th:for="email">Email:</label>
	        <input type="email" id="email" name="email">
	        <div class="feedback" id="emailFeedback"></div>
	        <button id="btn-checkDuplcate">check</button>
	    </div>
	    <div>
	        <label th:for="pwd">Password:</label>
	        <input type="password" id="pwd" name="pwd">
	    	<div class="feedback" id="pwdValidationFeedback"></div>
	    	
	    </div>
	    <div>
	        <label th:for="pwdCheck">Password check:</label>
	        <input type="password" id="pwdCheck">
	        <div class="feedback" id="passwordChkFeedback"></div>
	    </div>
	    <div>
	        <label th:for="username">Name:</label>
	        <input type="text" id="username" name="username" >
	    	<div class="feedback" id="usernameFeedback"></div>
	    </div>
	    <div>
	        <label th:for="nickname">Nickname:</label>
	        <input type="text" id="nickname" name="nickname" >
	    	<div class="feedback" id="nicknameFeedback"></div>
	    </div>
	    <div>
	        <label th:for="birthday">Birthday:</label>
	        <input type="text" id="birthday" name="birthday" >
	    	<div class="feedback" id="birthdayFeedback"></div>
	    </div>
	    <div>
	        <label th:for="phone">Phone:</label>
	        <input type="text" id="phone" name="phone" >
	    	<div class="feedback" id="phoneFeedback"></div>
	    </div>
	    <button type="submit">Join Us</button>
	</form>


</body>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
<script>
$(document).ready(function() {
	//이메일 중복검사 결과 저장
    let isEmailAvailable = false; 
	let isPwdConfirm = false;
	
	 function validatePasswordMatch() {
	 	const pwd = $('#pwd').val();
		const pwdChk = $('#pwdCheck').val();
		    
		if (pwd !== pwdChk) {
			$('#passwordChkFeedback').text('비밀번호가 일치하지 않습니다.').show();
				return false;
		} else {
			$('#passwordChkFeedback').hide();
			return true;
		}
	 }
	
	 $('#pwdCheck').on('keyup', function() {
	        validatePasswordMatch();
	 });
	 
	
	$('#btn-checkDuplcate').on('click', function(event) {
		event.preventDefault();

     // 이메일 유효성 검사
        const email = $('#email').val();
     
        function validateEmail(email) {
            const re = /\S+@\S+\.\S+/;
            return re.test(email);
        }
     
        if (!validateEmail(email)) {
            $('#emailFeedback').text('올바른 이메일 주소를 입력하세요.').show();
            return false;
        } else {
        	$('#emailFeedback').hide();
        	 $.ajax({
                 type: 'GET',
                 url: '/user/checkEmail',
                 data: {
                     email: email
                 },
                 success: function(response) {
                     if (!response) {
                         $('#emailFeedback').text('사용할 수 없는 이메일입니다.').show();
                         isEmailAvailable = false;
                     } else {
                         $('#emailFeedback').text('사용할 수 있는 이메일입니다.').css('color','green').show();
                         isEmailAvailable = true;
                     }
                 },
                 error: function() {
                     $('#emailFeedback').text('이메일 중복확인 중 오류 발생').show();
                 }
             });
        }
    });
	

    // 폼 제출 시 유효성 검사
    $('#registerForm').on('submit', function(event) {
     	let isValid = true;
     	
        // 필수 필드가 비어 있는지 확인
        $('#registerForm input[required]').each(function() {
            if (!$(this).val()) {
                const feedbackEl = $(this).siblings('.feedback');
                feedbackEl.text('필수 입력 항목입니다.').show();
                isValid = false;
            } else {
                $(this).siblings('.feedback').hide();
            }
        });
        
     	// 비밀번호 유효성 검사
	  	 function validatePassword(pwd) {
	  	    const re = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[~!@,._])[A-Za-z\d~!@,._]{5,}$/;
	  	    return re.test(pwd);
	  	} 
        
     	// 이름 유효성 검사 함수
     	function validateName(username) {
     	    return username.length >= 2;
     	}
     	// 닉네임 유효성 검사 함수
     	function validateNickname(nickname) {
     	    return nickname.length >= 2;
     	}
     	// 폰번호 유효성 검사 함수
     	/* function validatePhone(phone) {
     	    const re = /^\d+$/;
     	    return re.test(phone);
     	} */
     	// 생일 유효성 검사 함수
     	function validateBirthday(birthday) {
     	    // 생일은 YYYY-MM-DD 형식이어야 합니다.
//     	    const re = /^\d{4}-\d{2}-\d{2}$/;
     	    const re = /^\d{4}\d{2}\d{2}$/;
     	    return re.test(birthday);
     	} 
     	

     	
     // 이메일 중복검사 여부 확인
     const email =  $('#email').val();
        if (!isEmailAvailable) {
            $('#emailFeedback').text('중복 검사를 수행하세요.').show();
            isValid = false;
        } else {
            $('#emailFeedback').hide();
        }
        
      // 비밀번호 유효성 검사
        const pwd = $('#pwd').val();
        if (!validatePassword(pwd)) {
            $('#pwdValidationFeedback').text('최소 5글자 이상으로 영어 대문자, 소문자, 숫자, 특수문자(~!@,._)최소 하나를 포함해야 합니다.').show();
            isValid = false;
        } else {
            $('#pwdValidationFeedback').hide();
        } 
       
        
        // 이름 유효성 검사
        const username = $('#username').val();
        if (!validateName(username)) {
            $('#usernameFeedback').text('이름은 최소 2자 이상이어야 합니다.').show();
            isValid = false;
        } else {
            $('#usernameFeedback').hide();
        }

        // 닉네임 유효성 검사
        const nickname = $('#nickname').val();
        if (!validateNickname(nickname)) {
            $('#nicknameFeedback').text('닉네임은 최소 2자 이상이어야 합니다.').show();
            isValid = false;
        } else {
            $('#nicknameFeedback').hide();
        }

        // 폰번호 유효성 검사
         const phone = $('#phone').val();
       // if (!validatePhone(phone)) {
        //    $('#phoneFeedback').text('올바른 폰번호를 입력하세요.').show();
         //   isValid = false;
       // } else {
         //   $('#phoneFeedback').hide();
       // } 

        // 생일 유효성 검사
        const birthday = $('#birthday').val();
        if (!validateBirthday(birthday)) {
            $('#birthdayFeedback').text('올바른 생일을 입력하세요. (YYYY-MM-DD)').show();
            isValid = false;
        } else {
            $('#birthdayFeedback').hide();
        }

        
        if (!isValid) {
            event.preventDefault();
            return false;
        } else {
            // 회원가입 요청 보내기
            const newMember = {
                username: username,
                pwd: pwd,
                nickname: nickname,
                email: email,
                birthday: birthday,
                phone: phone
            };

            $.ajax({
                type: "POST",
                url: "/user/register",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(newMember),
                success: function(response) {
                    alert("회원가입 성공!");
                    window.location.href="login"
                },
                error: function(error) {
                    alert("회원가입 실패!");
                }
            });
            return false;
        }
    });
    
});

</script>
</html>